<footer>
    <div class="footer-quick-access">
        <div class="footer-item-container">
            <a href="index.html" class="logo">
                <i class="logo-icon" data-lucide="leaf"></i>
                <h3 class="logo-text">GreenLeaf</h3>
            </a>
            <p class="footer-description">Premium plants delivered to your doorstep. Grow your green space with us.</p>
        </div>
        <div class="footer-item-container">
            <h4 class="footer-list-title">
                <i class="footer-title-icon" data-lucide="leaf"></i>
                Shop
            </h4>
            <ul class="footer-list">
                <li class="footer-item"><a href="">All Plants</a></li>
                <li class="footer-item"><a href="">Indoor Plants</a></li>
                <li class="footer-item"><a href="">Succulents</a></li>
                <li class="footer-item"><a href="">Plant Care Kits</a></li>
            </ul>
        </div>
        <div class="footer-item-container">
            <h4 class="footer-list-title">
                <i class="footer-title-icon" data-lucide="heart-handshake"></i>
                Help
            </h4>
            <ul class="footer-list">
                <li class="footer-item"><a href="">Care Guide</a></li>
                <li class="footer-item"><a href="">Shipping Info</a></li>
                <li class="footer-item"><a href="">Returns</a></li>
                <li class="footer-item"><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="footer-item-container">
            <h4 class="footer-list-title">
                <i class="footer-title-icon" data-lucide="building-2"></i>
                Company
            </h4>
            <ul class="footer-list">
                <li class="footer-item"><a href="">About Us</a></li>
                <li class="footer-item"><a href="">Sustainability</a></li>
                <li class="footer-item"><a href="">Privacy Policy</a></li>
                <li class="footer-item"><a href="">Terms</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-social-links">
        <a href=""><i class="footer-social-icons" data-lucide="facebook"></i></a>
        <a href=""><i class="footer-social-icons" data-lucide="instagram"></i></a>
        <a href=""><i class="footer-social-icons" data-lucide="twitter"></i></a>
        <a href=""><i class="footer-social-icons" data-lucide="linkedin"></i></a>
    </div>
    <p class="footer-copyright"><span>&copy;</span> <span id="copyrightYear"></span> GreenLeaf. All rights reserved</p>
</footer>