<nav class="nav-bar-container">
    <div class="nav-bar">
        <a href="index.html" class="logo">
            <i class="logo-icon" data-lucide="leaf"></i>
            <h3 class="logo-text">GreenLeaf</h3>
        </a>
        <div class="desktop-nav">
            <ul class="nav-list" id="desktopNavList">
                
            </ul>
            <div class="nav-end">
                <div class="nav-search" id="navSearch">
                    <i data-lucide="search" class="nav-search-icon"></i>
                    <input class="nav-search-input" id="searchInput" type="text" placeholder="Search plants...">
                </div>
                <a href="" class="nav-cart">
                    <i class="nav-cart-icon" data-lucide="shopping-cart"></i>
                </a>
            </div>
        </div>  
        <div class="mobile-nav">
            <a href="" class="nav-cart">
                <i class="nav-cart-icon" data-lucide="shopping-cart"></i>
            </a>
            <button class="hamburger-menu-btn expand-menu-btn" id="toggleMenu">
                <i data-lucide="menu" id="showMenuIcon" class="hamburger-menu-icons open-menu-icon"></i>
                <i data-lucide="x" id="hideMenuIcon" class="hamburger-menu-icons close-menu-icon"></i>
            </button>
        </div>
    </div>
    <div class="nav-menu" id="navMenu">
        <div class="nav-separation"></div>
        <ul class="nav-menu-list" id="mobileNavList">

        </ul>
    </div>
</nav>